/***** FORM ANTI SPAM *****/
.asfield {
	display: none;
}

/***** FORM GLOBAL DEFAULTS *****/
form.zp-form{
	max-width: 100%;
}

.zp-form .asfield{display: none;}
.zp-form input.typetext, .zp-form input[type="text"], .zp-form input[type="number"], .zp-form input[type="email"], .zp-form input[type="tel"], .zp-form input[type="url"], .zp-form input[type="date"], .zp-form input[type="time"], .zp-form input[type="color"], .zp-form input[type="search"], .zp-form textarea{
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	color: #333333;
	background: #ffffff;
	padding: 6px 8px;
	border: 1px solid #9A9A9A;
	border: 1px solid rgba(0,0,0,0.4);
	max-width: 100%;
}
.zp-form ::-webkit-input-placeholder{
	opacity:  1;
	color: rgba(0,0,0,0.4);
}
.zp-form :-moz-placeholder{
	opacity:  1;
	color: rgba(0,0,0,0.4);
}
.zp-form ::-moz-placeholde{
	opacity:  1;
	color: rgba(0,0,0,0.4);
}
.zp-form :-ms-input-placeholder{
	opacity:  1;
	color: rgba(0,0,0,0.4);
}
/* fix a specificity issue with IE 11(-) which would otherwise apply the text-color fromthe rule in line 8 */
.zp-form input:-ms-input-placeholder{ 
	opacity:  1;
	color: rgba(0,0,0,0.4);
}

.zp-form select{
	font-family: inherit;
	font-size: inherit;
	color: #333333;
}
.zp-form label {
	font-family: inherit;
	font-size: inherit;
	padding: 3px 10px 3px 0;
}
.zp-form label.field{
	display: block;
	margin-top: 10px;
	margin-bottom: 4px;
	padding: 0;
}
.zp-form input[type="submit"]{
	font-family: inherit;
	font-size: inherit;
	display: block;
	margin-top: 20px;
}
.zp-form #recaptcha_area img{
	border: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}
